body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scroll */
}

.hidden {
    display: none !important; 
}

#original-lyrics p {
    display: block; 
    margin: 0; 
    padding: 0;
}


@keyframes mysticalFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
        text-shadow: 0 0 5px #4a5251, 0 0 10px #4a5251, 0 0 15px #4a5251;
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
        text-shadow: 0 0 10px #4a5251, 0 0 20px #4a5251, 0 0 30px #4a5251;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        text-shadow: 0 0 5px #4a5251, 0 0 10px #4a5251, 0 0 15px #4a5251;
    }
}

.animate-lyrics {
    animation: mysticalFadeIn 3s ease-in-out forwards;
}



p {
    margin: 0.5em 0; /* Add some spacing between lines */
}


#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25) rotate(-90deg);
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
    background-size: cover;
}

#lyrics-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #f0f5f5;
    text-align: center;
    font-family:  "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    z-index: 2;
}




.heart-style {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



@media (max-width: 600px) {
    #lyrics-container {
        font-size: 4vw; 
    }

    .heart-style {
        bottom: 10vh;
    }
}

@keyframes gradientAnimation {
    0% {
        stop-color: #FF5F6D; 
    }
    25% {
        stop-color: #FFC371; 
    }
    50% {
        stop-color: #12C2E9; 
    }
    75% {
        stop-color: #C471ED; 
    }
    100% {
        stop-color: #F64F59; 
    }
}

.gradient-animate {
    animation: gradientAnimation 5s infinite;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#heart-container p {
    color: #f0f5f5; 
    animation: mysticalFadeIn 3s infinite; 
    font-size: 1.2em; 
    margin-top: 10px;
}



#heart-svg {
    width: 50px;
    height: auto;
    cursor: pointer;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes meltAway {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(50px) scale(0.5);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.melt-away {
    animation: meltAway 1s forwards; 
}

.scale-in {
    animation: scaleIn 1s forwards;
}

#invitation {
    position: fixed;
    top: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#invitation p {
    font-family: 'Playfair Display SC', serif; 
    font-size: 1.6em; 
    color: #FFC371; 
    text-shadow: 0 0 5px #FF5F6D, 0 0 10px #FFC371, 0 0 15px #12C2E9; 
    transition: all 0.5s ease-in-out; 
    animation: glow 2s infinite alternate; 
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #FF5F6D, 0 0 20px #FFC371, 0 0 30px #12C2E9;
    }
    to {
        text-shadow: 0 0 20px #FF5F6D, 0 0 30px #FFC371, 0 0 40px #12C2E9;
    }
}


#yes-btn, #no-btn {
    margin: 5px;
    padding: 1em 2em; 
    font-size: 1rem; 
    border: none; 
    border-radius: 30px;
    background: linear-gradient(145deg, #ff5f6d, #ffc371); 
    color: #ffffff;
    font-family: 'Playfair Display SC', serif;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 95, 109, 0.3), 0 2px 4px rgba(255, 95, 109, 0.2); 
    transition: all 0.3s ease;
}

#yes-btn:hover, #no-btn:hover {
    background: linear-gradient(145deg, #ffc371, #ff5f6d); 
    box-shadow: 0 0 15px #ff5f6d, 0 0 30px #ffc371; 
    transform: translateY(-2px); 
}



.heart-style.pulse svg {
    animation: pulse 1s infinite ease-in-out;
}

#yes-bg-video {
    transform: translate(-50%, -50%) scale(0.5) rotate(-90deg);
}

.response-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 20;
}

.response-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.response-container p {
    color: #fff; 
    font-size: 2em;
    text-align: center;
    z-index: 2;
}


#yes-text {
    font-family: 'Playfair Display SC', serif;
    font-size: 2.3em;
    background: linear-gradient(270deg, #FF5F6D, #FFC371, #12C2E9);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: starGradient 10s infinite ease-in-out, gentleTwinkle 3s infinite ease-in-out;
}

@keyframes starGradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@keyframes gentleTwinkle {
    0%, 100% {
        text-shadow: 0 0 8px #FF5F6D, 0 0 10px #FFC371, 0 0 12px #12C2E9;
    }
    25% {
        text-shadow: 0 0 10px #FF5F6D, 0 0 14px #FFC371, 0 0 16px #12C2E9;
    }
    50% {
        text-shadow: 0 0 12px #FF5F6D, 0 0 18px #FFC371, 0 0 20px #12C2E9;
    }
    75% {
        text-shadow: 0 0 10px #FF5F6D, 0 0 14px #FFC371, 0 0 16px #12C2E9;
    }
}


#no-text {
    font-family: 'Playfair Display SC', serif;
    color: #555; 
    font-size: 2em;
    text-shadow: 2px 2px 4px #000; 
    transform: skew(-10deg, -5deg); 
    opacity: 0.7; 
}


#start-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    font-size: 1em;
    background: #e0e0e0;
    color: #555; 
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#start-button:hover {
    background: #d0d0d0; 
}

#start-button:focus {
    outline: none;
}
.vhs-effect {
    display: block; /* Make each word appear on a new line */
    font-size: 3em; /* Adjust size as needed */
    color: #fff; /* Text color */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75),
                 0 0 10px rgba(255, 255, 255, 0.5),
                 0 0 15px rgba(255, 0, 0, 0.75),
                 0 0 20px rgba(255, 0, 0, 0.5),
                 0 0 25px rgba(0, 255, 255, 0.75),
                 0 0 30px rgba(0, 255, 255, 0.5),
                 0 0 35px rgba(0, 0, 255, 0.75),
                 0 0 40px rgba(0, 0, 255, 0.5);
}

.trembling-text {
    display: inline-block; /* Ensure that each word is treated as a block for the animation */
    animation: trembling 0.2s infinite;
}

@keyframes trembling {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
}


@keyframes trembling {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
}

.word-by-word {
    opacity: 0; /* Start with the word invisible */
    animation: wordAppear 0.5s forwards; /* Adjust the duration as needed */
}

@keyframes wordAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.large-text {
    font-size: 48px;
    text-align: center;
    animation: wizardlyAppear 2s ease-out, shimmer 3s linear infinite;
}


@keyframes wizardlyAppear {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(-10deg);
        filter: blur(10px);
    }
    50% {
        opacity: 0.5;
        filter: blur(5px);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        filter: blur(0);
    }
}

@keyframes shimmer {
    0% { background-position: -500px 0; }
    100% { background-position: 500px 0; }
}


.contour-gif {
    background-clip: text;
    color: transparent;
    background-image: url('starfall.gif');
    background-size: 350% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
